start.sh
__pycache__/
__pycache__/App.cpython-38.pyc
__pycache__/home.cpython-38.pyc
__pycache__/librarian.cpython-38.pyc
__pycache__/librarian_functions.cpython-38.pyc
__pycache__/review_functions.cpython-38.pyc
__pycache__/review.cpython-38.pyc
__pycache__/transcribe.cpython-38.pyc
__pycache__/transcription_functions.cpython-38.pyc
venv/bin/activate
venv/bin/activate.csh
venv/bin/activate.fish
venv/bin/Activate.ps1
venv/bin/easy_install
venv/bin/easy_install-3.8
venv/bin/flask
venv/bin/google-oauthlib-tool
venv/bin/gunicorn
venv/bin/normalizer
venv/bin/pip
venv/bin/pip3
venv/bin/pip3.8
venv/bin/pyrsa-decrypt
venv/bin/pyrsa-encrypt
venv/bin/pyrsa-keygen
venv/bin/pyrsa-priv2pub
venv/bin/pyrsa-sign
venv/bin/pyrsa-verify
