<!DOCTYPE html>
<html lang="en">
<head>
    <title>SUNY Oswego Library Transcriptions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <meta charset="UTF-8">
      <!--Working on scale-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Millard Fillmore Transcriptions">
    <meta name="keywords" content="Millard Fillmore">
    <meta name="author" content="">
    <meta name="theme-color" content="#D4E8D4">
    <!--Google Font API-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style>
        a.hi:link {color:white;}
        a.hi:visited {color:white;}
        a.hi:hover {color:lightgreen;}
    </style>
</head>

<body>
    <nav class="navbar">
        <ul>
            <li class="logo">
                <a class="buttons" href="https://ww1.oswego.edu/"><img src="{{url_for('static', filename='images/oswego-green.svg')}}" class="icon" alt="SUNY Oswego Logo" ></a>
            </li>
            <li><a class="buttons" href={{url_for('transcribe.transcribe_page')}}>Create a Transcription</a></li>
            <li><a class="buttons" href={{url_for('review.review_page')}}>Review a Transcription</a></li>
            <li><a class="buttons" href=https://libraryguides.oswego.edu/fillmore>Historical Information</a></li>        </ul>
        </ul>
    </nav>

    <h1 style="text-align:center; padding:1%">Works Cited</h1>
    <p style="margin:2%">
        Hickey, John. “A Statue of Millard Fillmore Sits Outside Buffalo City Hall.” Buffalonews.com, The Buffalo News, 19 July 2020, https://buffalonews.com/news/local/a-reckoning-reconsidering-millard-fillmores-legacy/article_0050e600-c832-11ea-883a-13b1bc0f917a.html. Accessed 18 Nov. 2021.
    </p>
    
    <p style="margin:2%">                                 
        Brady, Matthew B. “[Millard Fillmore, Three-Quarter Length Portrait, Seated, Facing Left] / Brady, N.Y.” The Library of Congress, https://www.loc.gov/item/96522448/. 
    </p>
    
    <p style="margin:2%">                                 
        Millard Fillmore Papers, Box 52 <br>
        Penfield Library, SUNY Oswego
    </p>
</body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        if ($(window).width() < 600) {
        alert('Please use a device with a larger display for better site performance.');
        }
    </script>
<footer>
        <img class="icon" src="{{url_for('static', filename='images/oswego-green.svg')}}" alt="SUNY Oswego Logo">
        <h1 style="font-size: 25px">Contact Information:</h1>
        <p style="font-size: 1.35vw;"><a href="https://www.oswego.edu/library/archives-special-collections">SUNY Oswego Archives and Special Collections</a></p>
</footer>
</html>