<!DOCTYPE html>
<html lang="en">
<head>
    <title>SUNY Oswego Library Transcriptions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <meta charset="UTF-8">
      <!--Working on scale-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Millard Fillmore Transcriptions">
    <meta name="keywords" content="Millard Fillmore">
    <meta name="author" content="">
    <meta name="theme-color" content="#D4E8D4">
    <!--Google Font API-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap" rel="stylesheet">
    <style>
        a.one:link {color:black;}
        a.one:visited {color:black;}
        a.one:hover {color:#235937;}
        a.fa {
  font-size: 25px;
  width: 50px;
  text-decoration: none;
}


a.fa:link {color:white;}

a.fa:visited {color:white;}

a.fa:hover {color:#ADD8E6; opacity: 0.7;
}

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-youtube {
  color: white;
}

.fa-instagram {
  color: white;
}
    </style>
</head>

<body>
    <nav class="navbar">
        <ul>
            <li class="logo">
                <a class="buttons" href="https://ww1.oswego.edu/"><img src="{{url_for('static', filename='images/oswego-green.svg')}}" class="icon" alt="SUNY Oswego Logo" ></a>
            </li>
            <li><a class="buttons" href={{url_for('transcribe.transcribe_page')}}>Create a Transcription</a></li>
            <li><a class="buttons" href={{url_for('review.review_page')}}>Review a Transcription</a></li>
            <li><a class="buttons" href=https://libraryguides.oswego.edu/fillmore>Historical Information</a></li>
        </ul>
    </nav>


    <div class="hero-image">
      <div class="hero-text">
        <h1><a href="https://www.oswego.edu/library/archives-special-collections">SUNY Oswego Archives and Special Collections</a></h1>
        <p>Crowd-Sourced Transcriptions</p>
      </div>
    </div>

    <div class="container">
        <div id="left">
            <h1 style="text-align:center; font-family:'Seaweed Script'; font-weight:normal;">Welcome !</h1>
            <p><center style="font-size: 2vw; width:75%; margin-left:12.5%;">In conjunction with the Penfield Library Mission Statement, Archives and Special Collections contributes to enhancing the intellectual growth, creativity, and well-being of our community by creating opportunities for the public to engage with our historical collections. In particular, crowdsourcing transcriptions for the Millard Fillmore Papers collection provides the public with opportunities to read, understand, and contribute searchable text alongside the original written words with the outcome of a more open learning and research environment for all.
            </center></p>
            <p>&nbsp;</p>
        </div>

        <div id="right" >
            <!--<p style="text-align:center"><a class="one" href=transcribe.html ><u><strong>Featured Document</strong></u></a></p>-->
            <!--<img id="ImageOfDay" src="ImageofDay.png" alt="Image of the Day">-->
            <iframe src="{{jpg_link}}" id="doc" width=90% height=100%"></iframe> <!-- This will be a random JPEG -->
        </div>
    </div>

    <div class="bottombanner">
      <img id="bottom" src="{{url_for('static', filename='images/combined.jpg')}}" alt="This is the banner image, there is a mountain and a statue of Millard.">  
    </div>

</body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        if ($(window).width() < 600) {
        alert('Please use a device with a larger display for better site performance.');
        }
    </script>
<footer>
    <img class="icon" src="{{url_for('static', filename='images/oswego-green.svg')}}" alt="SUNY Oswego Logo">
    <h1 style="font-size: 25px">Contact Information:</h1>
    <p><a href="https://www.oswego.edu/library/archives-special-collections">SUNY Oswego Archives and Special Collections</a></p>
    <a href="https://www.facebook.com/SUNYOswego/" class="fa fa-facebook"></a>
    <a href="https://www.instagram.com/sunyoswego/" class="fa fa-instagram"></a>
    <a href="https://twitter.com/sunyoswego" class="fa fa-twitter"></a>
    <a href="https://www.youtube.com/user/sunyoswegovideo" class="fa fa-youtube"></a>
</footer>

</html>