<!DOCTYPE html>
<html lang="en">
<head>
    <title>Transcription Tutorial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <meta charset="UTF-8">
      <!--Working on scale-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Millard Fillmore Transcriptions">
    <meta name="keywords" content="Millard Fillmore">
    <meta name="author" content="">
    <meta name="theme-color" content="#D4E8D4">
    <!--Google Font API-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style>
        a.one:link {color:black;}
        a.one:visited {color:black;}
        a.one:hover {color:#235937;}
    </style>
</head>

<body>
    <nav class="navbar">
        <ul>
            <li class="logo">
                <a class="buttons" href="https://ww1.oswego.edu/"><img src="{{url_for('static', filename='images/oswego-green.svg')}}" class="icon" alt="SUNY Oswego Logo" ></a>
            </li>
            <li><a class="buttons" href={{url_for('transcribe.transcribe_page')}}>Create a Transcription</a></li>
            <li><a class="buttons" href={{url_for('review.review_page')}}>Review a Transcription</a></li>
            <li><a class="buttons" href=https://libraryguides.oswego.edu/fillmore>Historical Information</a></li>        </ul>
        </ul>
    </nav>

    <h1 style="text-align:center; padding:1%; font-family: 'Praise', cursive; font-weight:normal;" >Thank you!</h1>
    <p style="text-align:center;">By contributing to a transcription, you help to provide the public with opportunities to read and understand searchable text alongside the original written words, leading to a more open research environment for all.</p>
    <p style="text-align:center;"><a style="text-align:center; color:black;" href={{url_for('home.home_page')}}>Click here to return to the home page!</a></pp>
    <div class="row" style="background-color: hsla(120, 30%, 0%, 0.51)">
        <div class="column">
          <img src="{{url_for('static', filename='images/Fillmore_Sketch.JPG')}}" alt="Photograph of Millard Fillmore." style="width:100%">
        </div>
        <div class="column2">
          <img src="{{url_for('static', filename='images/millardfillmorestatue.jpg')}}" alt="Photograph of statue of Millard Fillmore." style="width:100%">
        </div>
        <div class="column3">
          <img src="{{url_for('static', filename='images/Millard_Fillmore_Portrait.jpg')}}" alt="Portrait of Millard Fillmore." style="width:100%">
        </div>
      </div>
</body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        if ($(window).width() < 600) {
        alert('Please use a device with a larger display for better site performance.');
        }
    </script>
<footer>
    <img class="icon" src="{{url_for('static', filename='images/oswego-green.svg')}}" alt="SUNY Oswego Logo">
    <h1 style="font-size: 25px">Contact Information:</h1>
    <p style="font-size: 1.35vw;"><a href="https://www.oswego.edu/library/archives-special-collections">SUNY Oswego Archives and Special Collections</a></p>
</footer>

</html>