
html, body {
    width:100%;
    height:100%;
    background-color: #D4E8D4;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 4vw;
  margin: 0 0 -0.5em;
}

.p2x {
  font-size: 1.35vw;
}

.p1x {
  font-size: 2vw;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0%;
    overflow: hidden;
}

.logo {
  display: inline;
  vertical-align: auto;
  padding-right: 25%;
}

li {
    display: inline;
    vertical-align: middle;
    padding: 1%;
}

nav {
    background-color: #235937;
    width: 100%;
}

.buttons {
      background-color: white;
      font-weight: bold;
      cursor: pointer;
      font-size: 1.5vw;
      transition-duration: 0.4s;
      border-radius: 40%;
      position: relative;
}


.nav-button:hover {
    background-color: lightgreen;
}

.container {
  margin-top: 1%;
  margin-left:1%;
  margin-bottom:5%;
  display: flex;
}
.container2 {
  margin-top: 1%;
  margin-left:0%;
  display: flex;
}

#left {
    width:60%;
    margin-right: 4%;
}

#right {
    width:35%;
}

#ImageOfDay {
  width:100%;
}

footer {
    color: white !important;
    padding: 1%;
    margin: auto;
    background-color: #302f2d;
}

.icon {
    width:15%;
    margin: auto;
}


.wrapper {
  width: 100%;
}

.feature:link {
  font-size: 3vw;
  transition-duration: 0.4s;
  
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #b1ff65 ;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.row {
  display: flex;
}

.column {
  flex: 23.25%;
  padding: 5px;
}

.column2 {
  flex: 50.75%;
  padding: 5px;
}

.column3 {
  flex: 26.035%;
  padding: 5px;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/Millard_Fillmore_Portrait.jpg");

  /* Position and center the image to scale nicely on all screens */
  background-position: 85% 15%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height:45%;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


